:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color:  #fafafa;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  width: 100%;
  min-height: 100vh;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  line-height: 1.539;
  margin: 0;
  color: #222;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  margin: 0;
  color: #222;
}

button {
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
